${LOGROTATE_LOGS} {
  ${LOGROTATE_TRIGGER_INTERVAL}
  maxsize ${LOGROTATE_TRIGGER_SIZE}
  rotate ${LOGROTATE_MAX_BACKUPS}
  ${LOGROTATE_NAMING_CONFIG}

  missingok
  notifempty

  compress
  delaycompress

  create ${LOGROTATE_FILE_MODE} ${LOGROTATE_FILE_USER} ${LOGROTATE_FILE_GROUP}

  sharedscripts
  postrotate
     /opt/notify-traefik.sh
  endscript
}